.signin-div{
	margin-top:1.5em;
}

.alert-div{
  /*display: none;*/
  height:50px;
  border:1px solid #FAEBCC;
  border-radius:2px;
  background-color: #FCF8E3;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -56px;
  margin-top: -16px;
  color:#E75C10;
}

.alert-div{
  /* display: none; */
}

.alert-div a{
   line-height: 50px;
}

.signin-form{
  margin-top:5em;
	background-color: #fff;
	box-shadow: 0px 0px 5px #000;
	padding:1.5em;
}

.signin-form .btn{
	width:100%;
	background-color:#2F6FA6;
	color:#fff;
}
